table {
    border: solid 1px black;
}
tr {
    border: solid 1px black;

}
th {
    border: solid 1px black;

}
td {
    border: solid 1px black;
    width: 300px;
    height: 100px;
}

.xuti {
    height: 50px;
    background-color: green;
}