table {
    border: solid 1px black;
}
tr {
    border: solid 1px black;

}
.erti {
    height: 70px;

}
td {
    border: solid 1px black;
    width: 120px;
    height: 50px;
}

.xuti {
    height: 50px;
    background-color: green;
}
